
<div class="container">
  <h3><%= "#{@list_objects.name}/#{@list_objects.prefix}"%></h3>
  <div class="panel panel-info">
    <div class="panel-heading">File Explorer </div>
    <table style="color: #c5e4f4;" class="table table-hover table-condensed">
      <%unless @list_objects.prefix.split("/")[0..-2].blank? %>
        <tr>
          <td>
            <%= link_to "..", tree_path("#{@list_objects.prefix.split("/")[0..-2].join("/")}") %>
          </td>
          <td></td>
        </tr>
      <% else %>
        <td>
          <%= link_to "..", tree_path("/") %>
        </td>
        <td></td>
      <%end %>
      <% @list_objects.common_prefixes.each do |folder|%>
        <tr>
          <td><i class="fa fa-folder"> </i> <%= link_to folder.prefix.split("/").last, tree_path("#{folder.prefix}") %></td>
          <td></td>
        </tr>
      <% end %>

      <% @list_objects.contents.each do |content|%>
        <% unless content.key.split("/").last[0] == "." %>
          <tr>
            <td><i class="fa fa-file"> </i> <%= link_to content.key.split("/").last, download_tree_index_path(key: content.key) %></td>
            <td> <%= l content.last_modified %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
